html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(to right, #d92c2c, #931e1e);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    color: #d36565;
    font-size: large;
}

body {
    display: grid;
    align-items: center;
    justify-content: center;
}

#home-screen {
    width: 100%;
    flex-direction: column;
}

.logo {
    width: 60%;
    filter: drop-shadow(0 0 2px #571515);
}

.menu {
    background-color: #571515;
    margin: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.2em 0;
    filter: drop-shadow(0 0 2px #571515);
}

#start-button {
    background-color: #571515;
    border: none;
    border-radius: 2em;
    padding: 0.5em 1em;
    font-size: large;
    color: #d36565;
    font-weight: bold;
    transition: 1s;
}

#start-button:hover {
    cursor: pointer;
    background-color: #500c0c;
}

#game-screen {
    display: none;
}

.rect {
    background-color: #571515;
    border-radius: 1em;
    margin: 0.4em auto;
}

.toolbar {
    margin: 1em 0;
    height: 2em;
}

.game {
    flex-direction: column;
    padding: 1em;
}

.row:first-child > .block:first-child {
    border-top-left-radius: 1em;
}

.row:first-child > .block:last-child {
    border-top-right-radius: 1em;
}

.row:last-child > .block:first-child {
    border-bottom-left-radius: 1em;
}

.row:last-child > .block:last-child {
    border-bottom-right-radius: 1em;
}

.screen {
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {
    width: 3em;
    height: 3em;
    background-color: #799cd2;
    border: none;
    color: white;
    margin: 0.1em;
    padding: 0;
    cursor: auto;
    transition: 0.2s;
    -webkit-user-select: none;
}

.hidden-block {
    background-color: #0c2c5c;
    cursor: pointer;
}

.hidden-block:focus {
    outline: 0;
}

.hidden-block:hover {
    box-shadow: 0 0 0.4em 0.01em #4183e6;
    z-index: 1;
}

.block div {
    font-size: 1.2em;
    font-weight: bold;
}

.inner-toolbar {
    height: 75%;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 1.4em;
}

.full-height {
    height: 100%;
}

.inner-toolbar img {
    height: 80%;
}

.margin {
    margin: 0 0.2em;
}

#time-text {
    color: white;
}

.menu-text {
    width: 7em;
}

.inner-toolbar > * {
    flex-basis: 0;
    flex-grow: 1;
}

#remained-mines {
    color: #931e1e;
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

.slider {
    -webkit-appearance: none;
    height: 0.6em;
    border-radius: 2em;
    background: #7b3737;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    border-radius: 2em;
    background: #d92c2c;
    cursor: pointer;
}

::placeholder {
    color: white;
    font-weight: bold;
}

.grid {
    display: grid;
}

#rows-text, #cols-text, #mines-text {
    font-weight: bold;
}