html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #0e335e;
}

.rect {
    width: 100%;
    background-color: white;
    mix-blend-mode: overlay;
    opacity: 50%;
    border-radius: 1em;
    margin: 0.4em auto;
}

.toolbar {
    height: 10%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}

.game {
    height: 90%;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
}

.screen {
    height: 85%;
    width: 60%;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block {

}

.rect button {
    background-color: #4CAF50; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}
  
  /* Clear floats (clearfix hack) */
/* .rect:after {
    content: "";
    clear: both;
    display: table;
} */
  
.rect button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
  /* Add a background color on hover */
.rect button:hover {
    background-color: #3e8e41;
}