html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: #0e335e;
}

.rect {
    width: 100%;
    background-color: #154c8c;
    border-radius: 1em;
    margin: 0.4em auto;
}

.toolbar {
    height: 10%;
    /* border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; */
}

.game {
    height: 90%;
    flex-direction: column;
    /* border-top-left-radius: 0;
    border-top-right-radius: 0; */
}

.screen {
    height: 85%;
    width: 60%;
    flex-direction: column;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.block {
    width: 3em;
    height: 3em;
    background-color: #799cd2;
    border: none;
    color: white;
    margin: 0.1em;
    padding: 0;
    cursor: pointer;
    transition: 0.2s;
    -webkit-user-select: none;
}

.hidden-block {
    background-color: #0c2c5c;
}

.hidden-block:hover {
    box-shadow: 0 0 0.4em 0.01em #4183e6;
    z-index: 1;
}

.block div {
    font-size: 1.5em;
    font-weight: bold;
}